<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{fragments/layout :: head('Connexion')}"/>
</head>
<body>
<div class="site-shell">
<th:block th:replace="~{fragments/navbar :: navbar}"/>
<main></main>
<th:block th:replace="~{fragments/footer :: footer}"/>
</div>
<script th:inline="javascript">
  document.addEventListener('DOMContentLoaded', () => {
    openLoginModal({
      error:   /*[[${param.error != null}]]*/ false,
      logout:  /*[[${param.logout != null}]]*/ false,
      success: /*[[${successMessage}]]*/ null
    });
  });
</script>
</body>
</html>
