# Maven / Gradle
target/
build/
out/
.gradle/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

Image/

# Environment variables
.env
.env.local
.env.*.local